$main-color: #107C10;
$button-color: #00a2ed;
$alpha: #000;

@mixin box-shadow() {
    box-shadow: 2px 2px 4px -2px #000;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: $main-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    @extend .flex;
    margin: 55px 0 0 0;
    width: 100vw;
    height: 100vh;

    header {
        margin: 15px;
    }

    .formBox {
        background-color: #FFF;
        padding: 40px;;
        width: 360px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        span {
            display: block;
            margin: 10px 0;
            font-size: 30px;
            font-weight: 1500px;
        }

        input {
            width: 100%;
            height: 30px;
            border-top-width: 0;
            border-left: 0;
            border-right-width: 0;
        }

        p {
            a {
                text-decoration: none;
                color: $button-color;
            }
        }

        button {
            border-color: #0067b8;
            background-color: #0067b8;
            color: #FFF;
            border: none;
            box-shadow: none;
            padding: 3px 18px;
            align-self: flex-end;
            height: 35px;
            width: 105px;
            padding: 8px 18px
        }
    }

    .options {
        @include box-shadow();
        width: 438px;
        height: 50px;
        flex-direction: row;
        background-color: #FFF;
        margin-top: 1em;

        a {
            display: flex;
            justify-items: flex-start;
            margin-left: 38px;
            text-decoration: none;
            color: $alpha;

            img {
                justify-content: flex-start;
                width: 30px;
                height: 30px;
                margin-top: 10px;
            }

            p {
                margin-left: 8px;
            }
        }
    
        &:hover {
            background-color: gray;
        }
    }
}



footer {
    color: #FFF;
    margin-bottom: 0;
    margin-top: 105px;

    .low {
        background-color: #000;
        width: 100vw;

        ul {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: end;

            li {
                list-style: none;
                margin: auto 5px;
            }
        }
    }
}