$main-color: #107C10;
$button-color: #00a2ed;
$alpha: #000;

@mixin box-shadow() {
    box-shadow: 2px 2px 4px -2px #000;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: $main-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%
}


.container {
    @extend .flex;
    margin: 80px auto auto auto;

    header {
        margin: 15px;
    }
    .formBox {
        background-color: #FFF;
        @include box-shadow();
        padding: 40px;;
        width: 360px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            display: block;
        }

        input {
            width: 100%;
            border-top-width: 0;
            border-left: 0;
            border-right-width: 0;
        }

        button {
            background-color: darken($color: $button-color, $amount: 10%);
            color: #FFF;
            box-shadow: none;
            padding: 3px 18px;
            align-self: flex-end
        }
    }

    .options {
        @include box-shadow();
        @extend .flex;
        flex-direction: row;
        width: 438px;
        height: 50px;
        flex-direction: row;
        background-color: #FFF;
        margin-top: 1em;

        a {
            display: flex;

            img {
                justify-content: flex-start;
            }
        }
    
        &:hover {
            background-color: gray;
        }
    }
}



footer {
    color: #FFF;
    margin-bottom: 0;
    margin-top: 105px;

    .low {
        background-color: #000;
        width: 100vw;

        ul {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: end;

            li {
                list-style: none;
                margin: auto 5px;
            }
        }
    }
}